<a href="https://colab.research.google.com/github/kasualkay77/Assignment-1-/blob/main/Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

[Assignment #1 Project Write up](https://https://docs.google.com/document/d/1TcrrrcG6XkeXRm2Jzty3hbf4I49ppwMtwVIiS0U5rk8/edit?usp=sharing)

In [5]:
import pandas as pd

import matplotlib.pyplot as plt

In [6]:
df = pd.read_csv('https://raw.githubusercontent.com/CunyLaguardiaDataAnalytics/datasets/master/2014-15_To_2016-17_School-_Level_NYC_Regents_Report_For_All_Variables.csv', index_col=0)

In [7]:
df.summary

AttributeError: ignored

In [9]:
df.info

<bound method DataFrame.info of                                School Name School Level  \
School DBN
01M034      P.S. 034 Franklin D. Roosevelt          K-8
01M034      P.S. 034 Franklin D. Roosevelt          K-8
01M034      P.S. 034 Franklin D. Roosevelt          K-8
01M140              P.S. 140 Nathan Straus          K-8
01M140              P.S. 140 Nathan Straus          K-8
...                                    ...          ...
84X717                Icahn Charter School          K-8
84X717                Icahn Charter School          K-8
84X717                Icahn Charter School          K-8
84X717                Icahn Charter School          K-8
84X717                Icahn Charter School          K-8

                           Regents Exam  Year  Total Tested Mean Score  \
School DBN
01M034              Common Core Algebra  2017             4          s
01M034               Living Environment  2015            16       77.9
01M034               Living Environment  2016             9         74
01M140              Common Core Algebra  2016             3          s
01M140              Common Core Algebra  2017             2          s
...                                 ...   ...           ...        ...
84X717               Living Environment  2016             8          s
84X717               Living Environment  2016             5          s
84X717               Living Environment  2017             6          s
84X717               Living Environment  2017             4          s
84X717      U.S. History and Government  2015             1          s

           Number Scoring Below 65 Percent Scoring Below 65  \
School DBN
01M034                           s                        s
01M034                           1                      6.3
01M034                           1                     11.1
01M140                           s                        s
01M140                           s                        s
...                            ...                      ...
84X717                           s                        s
84X717                           s                        s
84X717                           s                        s
84X717                           s                        s
84X717                           s                        s

           Number Scoring 65 or Above Percent Scoring 65 or Above  \
School DBN
01M034                              s                           s
01M034                             15                        93.8
01M034                              8                        88.9
01M140                              s                           s
01M140                              s                           s
...                               ...                         ...
84X717                              s                           s
84X717                              s                           s
84X717                              s                           s
84X717                              s                           s
84X717                              s                           s

           Number Scoring 80 or Above Percent Scoring 80 or Above  \
School DBN
01M034                              s                           s
01M034                              7                        43.8
01M034                              2                        22.2
01M140                              s                           s
01M140                              s                           s
...                               ...                         ...
84X717                              s                           s
84X717                              s                           s
84X717                              s                           s
84X717                              s                           s
84X717                              s                           s

           Number Scoring CR Percent Scoring CR
School DBN
01M034                    na                 na
01M034                    na                 na
01M034                    na                 na
01M140                    na                 na
01M140                    na                 na
...                      ...                ...
84X717                    na                 na
84X717                    na                 na
84X717                    na                 na
84X717                    na                 na
84X717                    na                 na

[212331 rows x 14 columns]>

In [10]:
df.head(10)

,School Name,School Level,Regents Exam,Year,Total Tested,Mean Score,Number Scoring Below 65,Percent Scoring Below 65,Number Scoring 65 or Above,Percent Scoring 65 or Above,Number Scoring 80 or Above,Percent Scoring 80 or Above,Number Scoring CR,Percent Scoring CR
School DBN,,,,,,,,,,,,,,
01M034,P.S. 034 Franklin D. Roosevelt,K-8,Common Core Algebra,2017,4,s,s,s,s,s,s,s,na,na
01M034,P.S. 034 Franklin D. Roosevelt,K-8,Living Environment,2015,16,77.9,1,6.3,15,93.8,7,43.8,na,na
01M034,P.S. 034 Franklin D. Roosevelt,K-8,Living Environment,2016,9,74,1,11.1,8,88.9,2,22.2,na,na
01M140,P.S. 140 Nathan Straus,K-8,Common Core Algebra,2016,3,s,s,s,s,s,s,s,na,na
01M140,P.S. 140 Nathan Straus,K-8,Common Core Algebra,2017,2,s,s,s,s,s,s,s,na,na
01M140,P.S. 140 Nathan Straus,K-8,Living Environment,2015,9,67.4,3,33.3,6,66.7,0,0,na,na
01M140,P.S. 140 Nathan Straus,K-8,Living Environment,2016,15,72.6,2,13.3,13,86.7,5,33.3,na,na
01M140,P.S. 140 Nathan Straus,K-8,Living Environment,2017,9,64.4,5,55.6,4,44.4,1,11.1,na,na
01M184,P.S. 184m Shuang Wen,K-8,Common Core Algebra,2015,49,78.4,1,2,48,98,23,46.9,48,98
01M184,P.S. 184m Shuang Wen,K-8,Common Core Algebra,2016,51,79,9,17.6,42,82.4,33,64.7,40,78.4

In [11]:
df.groupby('Regents Exam').agg(['max'])

,School Name,School Level,Year,Total Tested,Mean Score,Number Scoring Below 65,Percent Scoring Below 65,Number Scoring 65 or Above,Percent Scoring 65 or Above,Number Scoring 80 or Above,Percent Scoring 80 or Above,Number Scoring CR,Percent Scoring CR
,max,max,max,max,max,max,max,max,max,max,max,max,max
Regents Exam,,,,,,,,,,,,,
Algebra2/Trigonometry,"Young Women's Leadership School, Queens",Secondary School,2017,1477,s,s,s,s,s,s,s,na,na
Common Core Algebra,"Young Women's Leadership School, Queens",Secondary School,2017,1384,s,s,s,s,s,s,s,na,na
Common Core Algebra2,"Young Women's Leadership School, Queens",Secondary School,2017,1380,s,s,s,s,s,s,s,na,na
Common Core English,"Young Women's Leadership School, Queens",Secondary School,2017,1554,s,s,s,s,s,s,s,na,na
Common Core Geometry,"Young Women's Leadership School, Queens",Secondary School,2017,1527,s,s,s,s,s,s,s,na,na
English,"Young Women's Leadership School, Queens",Secondary School,2016,1240,s,s,s,s,s,s,s,na,na
Geometry,"Young Women's Leadership School, Queens",Secondary School,2017,1326,s,s,s,s,s,s,s,na,na
Global History and Geography,"Young Women's Leadership School, Queens",Secondary School,2017,1453,s,s,s,s,s,s,s,na,na
Integrated Algebra,"Young Women's Leadership School, Queens",Secondary School,2017,1106,s,s,s,s,s,s,s,na,na
Living Environment,"Young Women's Leadership School, Queens",Secondary School,2017,1216,s,s,s,s,s,s,s,na,na
Physical Settings/Chemistry,"Young Women's Leadership School, Queens",Secondary School,2017,1467,s,s,s,s,s,s,s,na,na
Physical Settings/Earth Science,"Young Women's Leadership School, Queens",Secondary School,2017,753,s,s,s,s,s,s,s,na,na
Physical Settings/Physics,"Young Women's Leadership School, Astoria",Secondary School,2017,1729,s,s,s,s,s,s,s,na,na
U.S. History and Government,"Young Women's Leadership School, Queens",Secondary School,2017,1278,s,s,s,s,s,s,s,na,na

In [ ]:
pd.set_option('display.max_columns', 500)

In [12]:
list(df.columns)

['School Name',
 'School Level',
 'Regents Exam',
 'Year',
 'Total Tested',
 'Mean Score',
 'Number Scoring Below 65',
 'Percent Scoring Below 65',
 'Number Scoring 65 or Above',
 'Percent Scoring 65 or Above',
 'Number Scoring 80 or Above',
 'Percent Scoring 80 or Above',
 'Number Scoring CR',
 'Percent Scoring CR']

In [ ]:
pd.pandas.set_option('display.max_columns', None)

In [ ]:
df2 = df.groupby('Regents Exam')

In [ ]:
df2.groupby('Mean Score').agg(['min','max'])

In [ ]:
df.groupby([])

In [15]:
df.dtypes

School Name                    object
School Level                   object
Regents Exam                   object
Year                            int64
Total Tested                    int64
Mean Score                     object
Number Scoring Below 65        object
Percent Scoring Below 65       object
Number Scoring 65 or Above     object
Percent Scoring 65 or Above    object
Number Scoring 80 or Above     object
Percent Scoring 80 or Above    object
Number Scoring CR              object
Percent Scoring CR             object
dtype: object

In [14]:
df3 = pd.to_numeric()

TypeError: ignored

In [ ]:
#Analyze Student test performance 
#groupby 
#Pick a feature/Measure/core 
#compare above school to a school in your area 
#Schools in a bourough or district 
#The analysis should include some descriptive Statistics 
#the analysis should include on vizualization

**df**.describe